@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700");
* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  body a {
    color: #0046AA;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
  body header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    text-align: right; }
    body header h1 {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -20px;
      line-height: 40px;
      font-size: 30px;
      font-weight: bold; }
    body header nav {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: 20px;
      font-size: 16px; }
      body header nav ul {
        width: 100%;
        list-style: none; }
        body header nav ul li {
          padding: 2px 0; }
  body #traits {
    position: absolute;
    left: 0;
    margin-left: 40%;
    top: 50%;
    padding-left: 10px; }
    body #traits section {
      position: relative;
      margin-bottom: 30px; }
      body #traits section h2 {
        line-height: 40px;
        font-size: 30px;
        font-weight: bold; }
      body #traits section ul {
        list-style: none; }
        body #traits section ul li {
          padding: 11px 0 9px 0;
          line-height: 26px;
          height: 26px;
          font-size: 20px; }
      body #traits section:first-child h2 {
        margin-top: -20px; }
      body #traits section:last-child {
        margin-bottom: 0; }
  body header nav li span, body #traits h2 span {
    display: none; }
  body #traits li > span:first-child {
    display: none; }
  body #traits h2 small, body #traits li small {
    font-size: 0.9em;
    font-style: italic; }
  body #traits h2 strong small, body #traits li strong small {
    font-style: normal; }

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  body {
    width: 100%;
    -webkit-text-size-adjust: none; }
    body header {
      bottom: auto;
      padding: 10px;
      padding-right: 0;
      padding-bottom: 0; }
      body header h1, body header nav {
        position: relative;
        margin: 0; }
    body #traits {
      top: 0;
      margin: 0;
      right: 10px;
      background-color: white; }
      body #traits section h2 {
        margin: 0 !important; }
      body #traits section li {
        height: auto; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (max-device-width: 370px) and (orientation: portrait) {
  body header {
    width: auto;
    text-align: left; }
    body header h1 {
      padding-bottom: 100px;
      margin-bottom: -100px; }
    body header nav {
      display: none; }
  body #traits {
    margin-top: 60px;
    margin-left: 102px;
    padding-left: 5px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (max-device-width: 370px) and (orientation: landscape), only screen and (min-device-width: 320px) and (max-device-width: 600px) and (min-device-width: 371px) {
  body header {
    width: 190px;
    text-align: right; }
    body header nav {
      display: block;
      position: relative;
      left: 0; }
  body #traits {
    margin-top: 10px;
    margin-left: 200px;
    padding-left: 10px; } }
