<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Douwe Maan is an 18-year-old iOS, Mac and web developer." />
    <meta name="keywords" content="douwe maan, selenight, studiodalton, stinngo" />
    <meta name="viewport" content="width=device-width, initial-scale=0.66, maximum-scale=0.66, user-scalable=no" />
    
    <link rel="stylesheet" media="all" type="text/css" href="stylesheets/main.css" />
    
    <title>Douwe Maan{% if page.title %} - {{ page.title }}{% endif %}</title>
  </head>
  
  <body>
    {{ content }}
  </body>
</html>